# Root EditorConfig
root = true

# PowerShell files
[*.{ps1,psm1,psd1}]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JSON files
[*.{json,jsonc}]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
